.navbar {
    background-color: rgba(189, 143, 110, 0.9); /* Light chocolate color */
  }
  
  .navbar-nav {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .navbar-nav .nav-item {
    font-size: 20px;
    margin-right: 10px; /* Add spacing between menu items */
    margin-left: 25px;
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* White text color */
    font-weight: bold;
  }
  
  .navbar-nav .nav-link:hover {
    color: #FFD700; /* Golden yellow on hover */
  }
  
  .navbar-brand {
    font-size: 40px;
    font-weight: bold;
    padding-right: 80px;

    font-family: 'Monoton', sans-serif;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

 

//   .btn {
//     background-color: transparent;
//       color: #fff;
//       padding: 10px 20px;
//       margin-right: 20px;
//       border: 2px solid #333;
//       border-radius: 25px;
//       cursor: pointer;
//       font-weight: bold;
//       // font-style: italic;
//       text-transform: uppercase;
//       letter-spacing: 2px;
//       transition: background-color 0.3s, color 0.3s;
//       box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Add a shadow to the button
//       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Add a shadow to the button

  
//       &:hover {
//         background-color: #333;
//         color: #fff;
//       }
//   }