
<app-header></app-header>


<!-- <div class="menu-page">
    <h1>MENU</h1>
    <p>Good food never fails in bringing people together...</p> -->

   
    <!-- <div class="view-full-menu-button">
        <button (click)="onViewMenuClick()">View Full Menu</button>
    </div> -->
  
    <div class="menu-item">
      <img src="../../assets/images/breakfast.jpg" alt="Food Item 1">
      <p>150 Rs</p>
      <p>Non-veg Breakfast</p>
      <button (click)="buyNowClick()">Buy Now</button>
    </div>
  
    <div class="menu-item">
      <img src="../../assets/images/burger.jpg" alt="Food Item 2">
      <p>280 Rs</p>
      <p>Jumbo Cheese Burger</p>
      <button (click)="buyNowClick()">Buy Now</button>
    </div>
  
    <div class="menu-item">
      <img src="../../assets/images/cake.jpg" alt="Food Item 3">
      <p>750 Rs</p>
      <p>Chocolate Cake</p>
      <button (click)="buyNowClick()">Buy Now</button>
    </div>
  
    <div class="menu-item">
      <img src="../../assets/images/platter.jpg" alt="Food Item 4">
      <p>980 Rs</p>
      <p>Rich Non-Veg Platter</p>
      <button (click)="buyNowClick()">Buy Now</button>
    </div>
<!-- </div> -->
